/* Wrapper for Login & Signup pages */
.login-wrapper {
  color: #f1f6fd;
  height: 100vh;
  width: 100vw;
  font-family: "Asap", sans-serif;
  background-color: #0c1116;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Logo container */
.login-logo-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-login {
  width: 48px;
}

/* Main box wrapper */
.login-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Login/Signup box */
.login-box {
  padding: 20px 0;
  width: 364px;
  min-height: 300px;
  border-radius: 10px;
  background-color: #161a23;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* Input fields */
.input {
  width: 250px;
  height: 35px;
  background-color: #0c1116;
  border-radius: 5px;
  padding: 0 1rem;
  border: 0.5px solid #f1f6fd;
  font-size: 1rem;
  color: whitesmoke;
  transition: border-color 0.3s, color 0.3s, background 0.2s;
}

.input:hover,
.input:focus {
  border-color: lightblue;
  outline: none;
}

/* Labels */
.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #f1f6fd;
}

/* Primer Button overrides */
.login-btn {
  width: 250px;
  height: 35px;
  font-weight: 700;
}

.login-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Pass box below inputs */
.pass-box {
  width: 364px;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Links */
.passkey,
.signup {
  color: #2b7df7;
  cursor: pointer;
  text-decoration: none;
}

.passkey:hover,
.signup:hover {
  text-decoration: underline;
}

/* Responsive for mobile */
@media screen and (max-width: 400px) {
  .login-box {
    width: 200px;
  }

  .input {
    width: 150px;
  }

  .login-btn {
    width: 150px;
  }

  .pass-box {
    width: 200px;
  }
}
